h1 {
  text-align: center;
  color:#black;
   font-style: oblique;
   font-weight: bold;
   font: 20px Arial, sans-serif;
    letter-spacing: 5px;
   text-shadow: 2px 2px red;
}

}
body  {
  background-color:#99E1D9;
}

body:hover {
  background-color: green;
  img:hover 
    border-radius: 8px;
}
