
<html lang="en">
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Concert</title>
   <link rel="stylesheet" href="style.css">
  <link rel="icon" href="DIRECTlink.pictureFILE">
</head>
<body>
   <nav>
  <li class="navli"><a href="../index.html"> Home <a/></li>     
    <li class="navli"><a href="../noun.html"> Noun Project </a></li>
       <li class="navli"><a href="../convince/twix.html"> Left Twix</a></li>
      <li class="navli"><a href="#lower"> Further Down </a></li>
        <li class="navli"><a href="food.html"> Back to The Top </a></li>
        <li class="navli"><img src="Binger Kong (2).png" width="20" height="20" text-align left></li>
      </li>
    </nav>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="wrapper">
  <div class="box a"> </div>
    <div class="box b"><center> Roach Concert </center></div>
  <div class="box c"> <!-- Side navigation -->
<div class="sidenav">
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

<!-- Page content -->
<div class="main">
  ...
</div></div>
  <div class="box d">
    <div class="box e"> (writing) Nullam a sollicitudin nulla. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis et iaculis nisl. Suspendisse vitae fringilla leo. Sed at ante leo. Mauris semper tortor dui, pharetra malesuada sem scelerisque tristique. Sed molestie tellus quis porttitor dignissim. Fusce eget varius dolor.

Fusce lacinia enim vitae felis consequat ornare. Nulla viverra suscipit congue. Quisque et lorem feugiat, ultricies felis pharetra, finibus dui. Maecenas mattis lorem in aliquam vulputate. Sed finibus lectus nec metus tincidunt, et volutpat sem pretium. Maecenas congue dapibus dolor, eget pretium diam fermentum id. Mauris rhoncus ac justo eu pulvinar. Cras eget libero sit amet eros ultrices volutpat quis quis justo. Phasellus interdum, nulla in suscipit tristique, massa metus consequat ante, ac ullamcorper lacus nulla eget elit. Nam lobortis convallis leo, nec bibendum nisi facilisis at. Aliquam malesuada lorem dolor, non venenatis ante commodo non. Sed facilisis metus vel diam laoreet luctus. Duis accumsan lectus ut orci congue, a commodo enim dignissim. Aenean quis dolor dolor. Proin blandit pharetra mauris, fermentum maximus sapien aliquet sed.</div>
    <div class="box f"> (other writing) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quam dolor, tincidunt euismod nibh a, eleifend eleifend orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras urna ligula, fringilla quis maximus eu, iaculis quis odio. Sed non laoreet lectus, sed fermentum turpis. Integer vitae ultricies diam, eu ultrices velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vivamus rhoncus maximus felis at dictum. Suspendisse ac luctus erat. Integer luctus feugiat justo. In non sem enim. Praesent eu blandit risus.

Quisque gravida nibh sit amet urna facilisis elementum. Maecenas aliquam lorem massa, id semper sapien tincidunt ac. Vestibulum luctus lectus et massa vestibulum auctor. Aliquam volutpat malesuada dolor. Vivamus non diam id nisi vulputate porttitor vel a sem. Aenean sed feugiat odio. Ut et ipsum vel tortor mollis ornare. Phasellus neque mi, bibendum non enim a, lobortis varius urna. Nam commodo eget eros ac commodo. Nullam non convallis purus, quis pulvinar dolor. Nulla mauris urna, porta id leo eu, vehicula gravida velit. Nam eu lectus ac purus condimentum tincidunt dignissim a ipsum. Suspendisse potenti. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus congue ligula sapien, eu tincidunt dui semper non. Suspendisse ac ex enim.

Fusce commodo ante in leo gravida finibus. Vestibulum ut lacus porttitor, faucibus libero sit amet, pulvinar odio. Ut egestas maximus odio sed fringilla. Maecenas nec ullamcorper risus, sit amet tincidunt diam. Suspendisse non odio nisl. Vivamus interdum mattis lorem, sed vulputate neque feugiat sit amet. Nam maximus quis neque eu eleifend. Duis dignissim luctus scelerisque. Vestibulum eu magna quis lectus ornare lobortis. Donec finibus libero at nunc hendrerit, eu cursus dolor placerat. Vivamus suscipit congue ante, ac dapibus massa lobortis vel. Donec faucibus erat sem, a aliquam risus euismod tincidunt. Nulla facilisi. In hac habitasse platea dictumst. Donec ut pulvinar urna.

</div>
    <div class="box g"> (final details/contacts) Eu cursus dolor placerat. Vivamus suscipit congue ante, ac dapibus massa lobortis vel. Donec faucibus erat sem, a aliquam risus euismod tincidunt. Nulla facilisi. In hac habitasse platea dictumst. Donec ut pulvinar urna. </div>
  </div>
</div>
  
 
  
  
  
</body>

</html>
<style>
  body {
 
  background-color:#07393C;
}

  .wrapper {

 background-color: green;
  width: 95vw;
  height: 100%;
 
    display: grid;
    gap: 10px;
    grid-template-columns: 150px 100px 150px 100px ;
    grid-template-rows: repeat(3,minmax(100px,auto));
    background-color: #57cc99;
    color: #2C666E;
  }
 
  .box {
    background-color: #2C666E;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;

  }

  .box .box {
  
    color: #444;
    background-color:#F0EDEE;
  }

  .a {
    grid-column: 5 / 1;
  }

  .b {
    grid-column: 5 ;
  }

  .c {
    grid-column: 1;
    grid-row: 2 / 4
  }

  .d{
    grid-column: 2/ 6;
    grid-row: 2 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: subgrid;
  }

  .e {
    grid-row: 1 / 3;
    grid-column: 1 ;
  }

  .f {
    grid-row: 1;
    grid-column: 2 / 4;
  }

  .g {
    grid-row: 2;
    grid-column: 2/4;
  }

@media only screen and (max-width: 768px) {
  .wrapper {
    background-color: green;
  width: 95vw;
  height: 100%;

  display: flex;
 
    display: grid;
    gap: 10px;
    grid-template-columns: 150px 100px 150px 100px ;
    grid-template-rows: repeat(3,minmax(100px,auto));
   
    
    flex-direction: column;
  }
}
.navli {
  display: inline;
  font-size: 30px;

 margin:0;
    font-family: 'Brush Script MT', cursive;
  float: right;
  padding: 20px;
}
nav {
  list-style-type: none;
  position: fixed;
  width: 100vw;
  background-color: #57cc99;
  left: 0;
  top: 0;
}
.navli {
  display: inline;
  font-size: 30px;
  
 margin:0;
    font-family: 'Brush Script MT', cursive;
  float: right;
  padding: 20px;
}
}
.navli:hover {
  background-color: Gold;
}

/* The sidebar menu */
.sidenav {
  height: 100%; 
  width: 160px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #2C666E; 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 12px 16px 16px 26px;
  text-decoration: none;
  font-size: 25px;
  color: #57cc99;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 600px) {
  .sidenav {padding-top: 20px;}
  .sidenav a {font-size: 15px;}
 subgrid {
    font-size: 10px;
  }
}

@media screen and (max-height: 300px) {
  .sidenav {padding-top: 20px;}
  .sidenav a {font-size: 10px;}
}
</style>
